@model SerenityHairDesigns.Models.Employee

<div class="Create-Account-Form">
    <p id="Create-Account-Text"> Edit Employee <br /> </p>
    <div id="Create-Account-Content">
        <div>

            @using (Html.BeginForm(FormMethod.Post))
            {

                <select id="Employees" name="Employees">
                    @foreach (var item in ViewBag.lstEmployees)
                    {
                        <option value="@item.intEmployeeID">@item.strFirstName @item.strLastName</option>
                    }
                </select>

                <button id="btnEditEmployee" name="btnSubmit" value="edit" class="button-action">Edit Employee</button>
            }
            @using (Html.BeginForm(FormMethod.Post))
            {
                <div>
                    <table>
                        <tr>
                            <td align="left">First Name:</td>
                            <td align="left"><div>@Html.TextBoxFor(model => model.strFirstName, new { @autofocus = "autofocus" })</div></td>
                        </tr>
                        <tr>
                            <td align="left">Last Name:</td>
                            <td align="left"><div>@Html.TextBoxFor(model => model.strLastName, new { @autofocus = "autofocus" })</div></td>
                        </tr>
                        <tr>
                            <td align="left">Password:</td>
                            <td align="left"><div>@Html.TextBoxFor(model => model.strPassword, new { @autofocus = "autofocus" })</div></td>
                        </tr>
                        <tr>
                            <td align="left">Phone:</td>
                            <td align="left"><div>@Html.TextBoxFor(model => model.strPhoneNumber, new { type = "tel" })</div></td>
                        </tr>
                        <tr>
                            <td align="left">Email:</td>
                            <td align="left"><div>@Html.TextBoxFor(model => model.strEmailAddress, new { @autofocus = "autofocus" })</div></td>
                        </tr>
                        <tr>

                            <td align="left">Gender:</td>
                            <td align="left">
                                <div>@Html.DropDownListFor(model => model.strGender, new SelectList(new string[] { "Female", "Male", "General" }, "Female"), htmlAttributes: new { @class = "form-control" })</div>
                            </td>

                        </tr>
                        @Html.HiddenFor(m => m.intEmployeeID)
                    </table>
                </div>
                <button id="btnEditEmployee" name="btnSubmit" value="update" class="button-action">Save Employee</button>

            }

        </div>

    </div>


</div>

@using (Html.BeginForm(FormMethod.Post))
{
    <div class="Create-Account-Form">
        <p id="Create-Account-Text"> Create Employee <br /> </p>
        <div id="Create-Account-Content">

            <div>
                <table>
                    <tr>
                        <td align="left">First Name:</td>
                        <td align="left"><div>@Html.TextBoxFor(model => model.strFirstName, new { @autofocus = "autofocus" })</div></td>
                    </tr>
                    <tr>
                        <td align="left">Last Name:</td>
                        <td align="left"><div>@Html.TextBoxFor(model => model.strLastName, new { @autofocus = "autofocus" })</div></td>
                    </tr>

                    <tr>
                        <td align="left">Phone:</td>
                        <td align="left"><div>@Html.TextBoxFor(model => model.strPhoneNumber, new { type = "tel" })</div></td>
                    </tr>
                    <tr>
                        <td align="left">Email:</td>
                        <td align="left"><div>@Html.TextBoxFor(model => model.strEmailAddress, new { @autofocus = "autofocus" })</div></td>
                    </tr>

                    <tr>
                        <td align="left">Password:</td>
                        <td align="left"><div>@Html.TextBoxFor(model => model.strPassword, new { @autofocus = "autofocus" })</div></td>
                    </tr>

                    <tr>
                        <td align="left">Gender:</td>
                        <td align="left">
                            <div>@Html.DropDownListFor(model => model.strGender, new SelectList(new string[] { "Female", "Male", "General" }, "Female"), htmlAttributes: new { @class = "form-control" })</div>
                        </td>
                    </tr>

                </table>
            </div>
            <button id="btnCreateEmployee" name="btnSubmit" value="Create" class="button-action">Create Employee</button>

        </div>
    </div>
}


