@{
	ViewBag.Title = "EmployeeScheduleAppointment";
}


@if ((ViewBag.blnIsEmployee == 1) && (ViewBag.IsAdmin == 1)) {
	<div class="center-admin">
		<a class="center" name="LogOut" href="~/Profile/SignOut">Log Out</a>
		<a class="center" name="ScheduleAppointment" href="~/Profile/EmployeeScheduleAppointment">Schedule Appointment</a>
		<a class="center" name="EmployeesInfo" href="~/Profile/EmployeesInfo">My Info</a>
		<a class="center" name="ManageEmployees" href="~/Employee/ManageEmployees">Manage Employees</a>
		<a class="center" name="Profile" href="~/Profile/AdminLoggedIn">Admin Profile</a>
	</div>
}
@if ((ViewBag.blnIsEmployee == 1) && (ViewBag.IsAdmin != 1)) {
	<div class="center-employee">
		<a class="center" name="LogOut" href="~/Profile/SignOut">Log Out</a>
		<a class="center" name="ScheduleAppointment" href="~/Profile/EmployeeScheduleAppointment">Schedule Appointment</a>
		<a class="center" name="EmployeesInfo" href="~/Profile/EmployeesInfo">My Info</a>
		<a class="center" name="Profile" href="~/Profile/EmployeeLoggedIn">My Profile</a>
	</div>
}
@if (ViewBag.blnIsCustomer == 1) {
	<div class="center-customer">
		<a class="center" name="LogOut" href="~/Profile/SignOut">Log Out</a>
		<a class="center" name="Profile" href="~/Profile/CustomerIndex">My Profile</a>
	</div>
}

<h2>Schedule Appointment</h2>


<div class="Create-Account-Form">
	<div class="Sign-In-Form-Emp">
		<div class="header__item">
			@using (Html.BeginForm(FormMethod.Post)) {

				<h1>Schedule Hair Appointment</h1>
				<label for="AppointmentDateTime">Pick an available time/day:</label>
				<input type="datetime-local" id="AppointmentDateTime" name="AppointmentDateTime">
				<br />
				<br />
				<label for="AppointmentService">Type of Service:</label>
				<select id="Services" name="Services">
					@foreach (var item in ViewBag.Services) {
						<option value="@item.intServiceID">@item.strServiceName</option>
					}
				</select>

				<br />
				<label for="firstname">First Name:</label>
				<input type="text" id="firstname" name="firstname">
				<br />
				<label for="lastname">Last Name:</label>
				<input type="text" id="lastname" name="lastname">
				<br />
				<label for="Number">Phone Number:</label>
				<input type="text" id="Number" name="Number">
				<br />
				<label for="Gender">Gender:</label>
				<select id="Gender" name="Gender">
					@foreach (var item in ViewBag.Genders) {
						<option value="@item.intGenderID">@item.strGenderDesc</option>
					}
				</select>

				<br />
				<button id="btnScheduleAppointment" name="btnSubmit" value="btnScheduleAppointment" class="button-action">Submit Appointment</button>
			}

		</div>
	</div>

</div>





@using (Html.BeginForm(FormMethod.Post)) {
	foreach (var item in ViewBag.Appointments) {
		<div class="Create-Account-Form2">
			<h2>Appointments</h2>
			<label class="Customer-Info" for="Appointment">
				<pre class="Customer-Info">
								Customer First Name: @item.strCustomerFirstName

								Customer Last Name: @item.strCustomerLastName

								Appointment Date: @item.dtmAppointmentDate

								Appointment Length: @item.intEstTimeInMins

								Service Type: @item.strAppointmentName

								Estimated Appointment Cost: $@item.monAppointmentCost

								Customer Phone Number: @item.strCustomerPhone 

								Customer Email: @item.strCustomerEmail
							</pre>
				@*<table>
						<tr>
							<td> Customer First Name: </td>
							<td> @item.strCustomerFirstName </td>
						</tr>
						<tr>
							<td> Customer Last Name: </td>
							<td> @item.strCustomerLastName </td>
						</tr>
						<tr>
							<td> Appointment Date: </td>
							<td> @item.dtmAppointmentDate </td>
						</tr>
						<tr>
							<td> Appointment Length: </td>
							<td> @item.intEstTimeInMins </td>
						</tr>
						<tr>
							<td> Service Type: </td>
							<td> @item.strAppointmentName </td>
						</tr>
						<tr>
							<td> Estimated Appointment Cost: </td>
							<td> $@item.monAppointmentCost </td>
						</tr>
						<tr>
							<td> Appointment Tip Amount: </td>
							<td> $@item.monAppointmentTip </td>
						</tr>
						<tr>
							<td> Customer Phone Number: </td>
							<td> @item.strCustomerPhone </td>
						</tr>
						<tr>
							<td> Customer Email: </td>
							<td> @item.strCustomerEmail </td>
						</tr>
					</table>*@
			</label>
			<input class="Customer-Info" type="checkbox" name="Appointment" value="@item.intAppointmentID" />
			<button id="btnScheduleAppointment" name="btnSubmit" value="btnCancelAppointment" class="button-action">Cancel Appointment</button>
		</div>

	}

}






