@model SerenityHairDesigns.Models.Employee

@{
	ViewBag.Title = "EmployeeLoggedIn";
}

@if ((ViewBag.blnIsEmployee == 1) && (ViewBag.IsAdmin == 1))
{
	<div class="center-admin">
		<a class="center" name="LogOut" href="~/Profile/SignOut">Log Out</a>
		<a class="center" name="ScheduleAppointment" href="~/Profile/EmployeeScheduleAppointment">Schedule Appointment</a>
		<a class="center" name="EmployeesInfo" href="~/Profile/EmployeesInfo">My Info</a>
		<a class="center" name="ManageEmployees" href="~/Employee/ManageEmployees">Manage Employees</a>
		<a class="center" name="Profile" href="~/Profile/AdminLoggedIn">Admin Profile</a>
	</div>
}
@if ((ViewBag.blnIsEmployee == 1) && (ViewBag.IsAdmin != 1))
{
	<div class="center-employee">
		<a class="center" name="LogOut" href="~/Profile/SignOut">Log Out</a>
		<a class="center" name="ScheduleAppointment" href="~/Profile/EmployeeScheduleAppointment">Schedule Appointment</a>
		<a class="center" name="EmployeesInfo" href="~/Profile/EmployeesInfo">My Info</a>
		<a class="center" name="Profile" href="~/Profile/EmployeeLoggedIn">My Profile</a>
	</div>
}
@if (ViewBag.blnIsCustomer == 1)
{
	<div class="center-customer">
		<a class="center" name="LogOut" href="~/Profile/SignOut">Log Out</a>
		<a class="center" name="Profile" href="~/Profile/CustomerIndex">My Profile</a>
	</div>
}



<h2>Welcome @Model.strFirstName</h2>


@using (Html.BeginForm("EmployeeLoggedIn", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
	<div class="Stylist-logged-in">
		<div class="Stylist-logged_in-1">
			Skills: <br />
			@if (ViewBag.skills != null)
			{

				foreach (var item in ViewBag.skills)
				{
					<ul>
						<li> @item  </li>
					</ul>
				}
			}
			<div class="section">
				<div>
					<label for="AddSkill">Add Skill:</label>
					<input type="text" id="txtAddSkill" name="txtAddSkill" />
				</div>
			</div>

			<div class="section">
				<button class="button-action" id="btnAddSkills" name="btnSubmit" value="AddSkills"><i class='far fa-save'></i> Add Skills</button>
			</div>

			<label for="Skills">Skills:</label>
			<select id="Skills" name="Skills">
				@foreach (var item in ViewBag.skills)
				{
					<option value="@item">@item</option>
				}
			</select>
			

			<div class="section">
				<button class="button-action" id="btnDeleteSkills" name="btnSubmit" value="DeleteSkills"><i class='far fa-save'></i> Delete Skills</button>

			</div>
		</div>


			<div class="Employee-Profile">
				<p>To make changes to your profile enter your information below and click the Update button.</p>
				<div id="user-profile-image">
					@if (Model.UserImage != null)
					{
						if (Model.UserImage.ImageID > 0)
						{
							<div class="user-profile-image-container">
								<img class="user-profile-thumbnail" src="@string.Concat("data:Image/",
											Model.UserImage.FileExtension, ";base64,",
											Model.UserImage.BytesBase64)" />
							</div>
						}
					}
					@Html.TextBoxFor(model => model.UserImage.ImageID, new { style = "display: none;" })
					<div id="user-profile-data">
						<div class="section">
							<div class="section">
								<div>User Profile Image</div>
								<div>
									<input class="profile-item" type="file" name="UserImage" id="UserImage" />
								</div>
							</div>
						</div>
						<div class="section">
							<div class="section">
								<div>
									<label for=" strFirstName">First Name:</label>
									@Html.TextBoxFor(model => model.strFirstName, new { @autofocus = "autofocus" })
								</div>
							</div>
							<div class="section">
								<div>
									<label for=" strLastName">Last Name:</label>
									@Html.TextBoxFor(model => model.strLastName)
								</div>
							</div>
							<div class="section">
								<div>
									<label for=" strPassword">Password:</label>
									@Html.TextBoxFor(model => model.strPassword, new { type = "password" })
								</div>
							</div>
							<div class="section">
								<div>
									<label for=" strPhoneNumber">Phone Number:</label>
									@Html.TextBoxFor(model => model.strPhoneNumber, new { type = "tel" })
								</div>
							</div>
							<div class="section">
								<div>
									<label for=" strEmailAddress">Phone Number:</label>
									@Html.TextBoxFor(model => model.strEmailAddress)
								</div>
							</div>
							<div class="section">
								<div>
									<label for=" strYearsOfExperience">Years Of Experience:</label>
									@Html.TextBoxFor(model => model.strYearsOfExperience)
								</div>
							</div>
							<div class="section">
								<div>
									<label for=" strGender">Gender:</label>
									@Html.DropDownListFor(model => model.strGender, new SelectList(new string[] { "Female", "Male", "Other" }, "Female"), htmlAttributes: new { @class = "form-control" })
								</div>
							</div>
						</div>
						<div class="section">
							<button class="button-action" id="btnUpdate" name="btnSubmit" value="update"><i class='far fa-save'></i> Update</button>
						</div>
					</div>
				</div>

			</div>
			<div class="Emp-Availability1">
				<p class="Shift-Title">Edit Availability</p>
				<table>
					<tr>
						<td>
							<p class="Shift-Text">Shift Start Time:</p>
						</td>
						<td>
							<input type="datetime-local" id="dtmStartTime" name="dtmStartTime">
						</td>
					</tr>
					<tr>
						<td>
							<p class="Shift-Text">Shift End Time:</p>
						</td>
						<td>
							<input type="datetime-local" id="dtmEndTime" name="dtmEndTime">

						</td>
					</tr>
				</table>
				<div class="section">
					<button class="button-action" id="btnEditAvailability" name="btnSubmit" value="EditAvailability"><i class='far fa-save'></i> Add Availability</button>
				</div>
			</div>
		</div>
}

@*<label for=model.strFirstName>Years of Expereince:</label>
	@Html.TextBoxFor(model => model.strYearsOfExperience, new { @autofocus = "autofocus" })
	<br />

	<br />*@