@model SerenityHairDesigns.Models.Employee
@{
    ViewBag.Title = "ManageEmployees";
}
<script src="@Url.Content("~/Scripts/jquery-3.6.0.js")" type="text/javascript"></script>
<h2>ManageEmployees</h2>
<div class="Create-Account-Form">
    <p id="Create-Account-Text"> Create Employee <br /> </p>
    <div id="Create-Account-Content">
        @using (Html.BeginForm(FormMethod.Post))
        {

            <div>
                <table>
                    <tr>
                        <td align="left">First Name:</td>
                        <td align="left"><div>@Html.TextBoxFor(model => model.strFirstName, new { @autofocus = "autofocus" })</div></td>
                    </tr>
                    <tr>
                        <td align="left">Last Name:</td>
                        <td align="left"><div>@Html.TextBoxFor(model => model.strLastName, new { @autofocus = "autofocus" })</div></td>
                    </tr>

                    <tr>
                        <td align="left">Phone:</td>
                        <td align="left"><div>@Html.TextBoxFor(model => model.strPhoneNumber, new { type = "tel" })</div></td>
                    </tr>
                    <tr>
                        <td align="left">Email:</td>
                        <td align="left"><div>@Html.TextBoxFor(model => model.strEmailAddress, new { @autofocus = "autofocus" })</div></td>
                    </tr>

                    <tr>
                        <td align="left">Password:</td>
                        <td align="left"><div>@Html.TextBoxFor(model => model.strPassword, new { @autofocus = "autofocus" })</div></td>
                    </tr>

                </table>
            </div>
            <button id="btnCreateEmployee" name="btnSubmit" value="Create Employee" class="button-action">Create Employee</button>
        }
    </div>
</div>
        
<div class="Create-Account-Form">
    <p id="Create-Account-Text"> Edit Employee <br /> </p>
    <div id="Create-Account-Content">
        @using (Html.BeginForm(FormMethod.Post))
        {
          
            <div>
                @Html.DropDownListFor(m=> m.SelectedEmployee, Model.EmployeeList, "Select an employee...")
                <table>
                    <tr>
                        <td align="left">First Name:</td>
                        <td align="left"><div>@Html.TextBoxFor(model => model.SelectedEmployee.strFirstName, new { @autofocus = "autofocus" })</div></td>
                    </tr>
                    <tr>
                        <td align="left">Last Name:</td>
                        <td align="left"><div>@Html.TextBoxFor(model => model.SelectedEmployee.strLastName, new { @autofocus = "autofocus" })</div></td>
                    </tr>
                    <tr>
                        <td align="left">Password:</td>
                        <td align="left"><div>@Html.TextBoxFor(model => model.SelectedEmployee.strPassword, new { @autofocus = "autofocus" })</div></td>
                    </tr>
                    <tr>
                        <td align="left">Phone:</td>
                        <td align="left"><div>@Html.TextBoxFor(model => model.SelectedEmployee.strPhoneNumber, new { type = "tel" })</div></td>
                    </tr>
                    <tr>
                        <td align="left">Email:</td>
                        <td align="left"><div>@Html.TextBoxFor(model => model.SelectedEmployee.strEmailAddress, new { @autofocus = "autofocus" })</div></td>
                    </tr>

                </table>
            </div>
            <button id="btnEditEmployee" name="btnSubmit" value="Edit" class="button-action">Edit Employee</button>
        }
    </div>
</div>

<div class="Create-Account-Form">
    <div class="CutsLabel">
        <label for="Cuts">Choose an Employee:</label>
        <select name="Cuts" id="Cuts">
        </select>
    </div>
    <button id="btnEditEmployee" name="btnSubmit" value="Edit" class="button-action">Delete Employee</button>
</div>

<script>
    $("#SelectedEmployee").change(() => {

        var selectOptionText = $('#SelectedEmployee option:selected').text()
        var selectOptionValue = $('#SelectedEmployee option:selected').val()
        //TODO: create end point that returns an employee by id. Make ajax call to get employee by id (selectOptionValue)
        $.ajax({
            type: 'POST',
            url: '/Profile/GetEmployeeById',
            data: selectOptionValue,
            success: (payload) => {
                console.log(payload)
            }
            })
        $("#SelectedEmployee_strFirstName").val(selectOptionText)
    })
</script>