@model SerenityHairDesigns.Models.Customer

@{
	ViewBag.Title = "ScheduleLogin";
}

<h2>ScheduleLogin</h2>

<div class="Create-Account-Form">
	<div class="Sign-In-Form">
		<p>Existing Customer? Sign-In</p>
		@using (Html.BeginForm(FormMethod.Post)) {
			<div class="Login-Textboxes">
				<table>
					<tr>
						<td>
							<p>Email Address:</p>
						</td>
						<td>
							<div>@Html.TextBoxFor(model => model.strEmailAddress, new { @autofocus = "autofocus" })</div>
						</td>
					</tr>
					<tr>
						<td>
							<p>Password:</p>
						</td>
						<td>
							<div>@Html.TextBoxFor(model => model.strPassword, new { type = "password" })</div>
						</td>
					</tr>
				</table>
			</div>
			<button id="btnSignIn" name="btnSubmit" value="signin" class="button-action"><i class="fas fa-sign-in-alt"></i> Sign-In</button>
		 }
		<p id="Create-Account-OR">OR</p>
	</div>


	<p id="Create-Account-Text"> Create Account <br /> </p>
	<div id="Create-Account-Content">
		@using (Html.BeginForm(FormMethod.Post)) {
			<div id="Create-Account-ScheduleLogin-Text">
				<table >
					<tr>
						<td align="left">First Name:</td>
						<td align="left"><div>@Html.TextBoxFor(model => model.strFirstName, new { @autofocus = "autofocus" })</div></td>
					</tr>
					<tr>
						<td align="left">Last Name:</td>
						<td align="left"><div>@Html.TextBoxFor(model => model.strLastName, new { @autofocus = "autofocus" })</div></td>
					</tr>
					<tr>
						<td align="left"><label for="Genders">Gender:</label></td>
						<td align="left"><div>@Html.DropDownListFor(model => model.strGender, new SelectList(new string[] { "Female", "Male", "Other" }, "Female"), htmlAttributes: new { @class = "form-control" })</div></td>
					</tr>
					<tr>
						<td align="left">Phone:</td>
						<td align="left"><div>@Html.TextBoxFor(model => model.strPhoneNumber, new { type = "tel" })</div></td>
					</tr>
					<tr>
						<td align="left">Email:</td>
						<td align="left"><div>@Html.TextBoxFor(model => model.strEmailAddress, new { @autofocus = "autofocus" })</div></td>
					</tr>
					<tr>
						<td align="left">Password:</td>
						<td align="left"><div>@Html.TextBoxFor(model => model.strPassword, new { @autofocus = "autofocus" })</div></td>
					</tr>
				</table>
			</div>
			<button id="btnCreateAccount" name="btnSubmit" value="signup" class="button-action">Create Account</button>
		 }
	</div>
</div>