@model SerenityHairDesigns.Models.Employee
@{
	ViewBag.Title = "BookNow";
}
@*book now buttons for however many stations there are  *@

@if ((ViewBag.blnIsEmployee == 1) && (ViewBag.IsAdmin == 1))
{
	<div class="center-admin">
		<a class="center" name="LogOut" href="~/Profile/SignOut">Log Out</a>
		<a class="center" name="ScheduleAppointment" href="~/Profile/EmployeeScheduleAppointment">Schedule Appointment</a>
		<a class="center" name="EmployeesInfo" href="~/Profile/EmployeesInfo">My Info</a>
		<a class="center" name="ManageEmployees" href="~/Employee/ManageEmployees">Manage Employees</a>
		<a class="center" name="Profile" href="~/Profile/AdminLoggedIn">Admin Profile</a>
	</div>
}
@if ((ViewBag.blnIsEmployee == 1) && (ViewBag.IsAdmin != 1))
{
	<div class="center-employee">
		<a class="center" name="LogOut" href="~/Profile/SignOut">Log Out</a>
		<a class="center" name="ScheduleAppointment" href="~/Profile/EmployeeScheduleAppointment">Schedule Appointment</a>
		<a class="center" name="EmployeesInfo" href="~/Profile/EmployeesInfo">My Info</a>
		<a class="center" name="Profile" href="~/Profile/EmployeeLoggedIn">My Profile</a>
	</div>
}
@if (ViewBag.blnIsCustomer == 1)
{
	<div class="center-customer">
		<a class="center" name="LogOut" href="~/Profile/SignOut">Log Out</a>
		<a class="center" name="Profile" href="~/Profile/CustomerIndex">My Profile</a>
	</div>
}
<div class="center">
	<h2>BookNow!!!</h2>
</div>
<body>

		<div class="Book-Now-1">
			@foreach (var item in ViewBag.lstEmployees)
			{
				<div class="BookNow">
					<form action="/" method="post">
						<div id="user-profile-image">
							@if (@item.UserImage != null) {
								if (@item.UserImage.ImageID > 0) {
									<div class="user-profile-image-container">
										<img class="user-profile-thumbnail" src="@string.Concat("data:Image/",
													@item.UserImage.FileExtension, ";base64,",
													@item.UserImage.BytesBase64)" />
									</div>
								}
							}
						</div>

						<p class="BookNow-text">
							@item.strFirstName @item.strLastName <br />
							@item.strPhoneNumber <br />
							<br />
							<br />
							@using (Html.BeginForm("BookNow", "Home", FormMethod.Post, new { enctype = "multipart/form-data" })) {
								<a class="center" id="btnStylistChosen" name="btnStylistChosen" value="booknow" href="~/BookNow/Stylist/@item.intEmployeeID">Book Now</a>
							}
						</p>
					</form>
				</div>
			}
		</div>
</body>



